body{
}

#div1{
position:relative;
width:100%;
height:100%;
margin:0px;
background:red;
}

#sec1{
	width:100%;
	height:30%;
	background:#312450;
	text-align:center;

}

#sec1 > h2 {
	color:white;
}

#sec2{
	width:100%;
	height:40%;
	background:#493382;
	text-align:center;
}
#sec2 > form{
}

#sec3{
	width:100%;
	height:30%;
	background:#312450;
}


